* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3b3b3b;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 160px;
}

body header h1 {
  text-align: center;
  letter-spacing: 0.2ch;
}

body header .div--lineHeader {
  width: 100%;
  height: 4px;
  background-color: #63fad4;
}

body header .div--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .div--wrapper a {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

body header .div--wrapper a:hover {
  background-color: #63fad4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header .div--animation {
  background-color: #63fad4;
  height: 6px;
  width: 50px;
  position: absolute;
  top: 82px;
  left: 43%;
  -webkit-transition: 1s;
  transition: 1s;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body main img {
  height: 250px;
  width: 400px;
  margin: 10px;
  border-radius: 4px;
}

body main p {
  text-align: start;
}

body main article {
  margin-top: 40px;
  width: 40%;
}

body main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  width: 30%;
  -webkit-box-shadow: -2px 4px 64px 6px rgba(185, 255, 238, 0.6);
          box-shadow: -2px 4px 64px 6px rgba(185, 255, 238, 0.6);
  background: #3b3b3b;
  border-radius: 4px;
}

body main form input {
  width: 30%;
  height: 6%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(185, 255, 238, 0.6);
  border-radius: 4px;
  padding: 0 10px;
  color: #fff;
}

body main form input:focus {
  border-bottom: 1px solid rgba(185, 255, 238, 0.6);
}

body main form input::-webkit-input-placeholder {
  color: #fff;
}

body main form input:-ms-input-placeholder {
  color: #fff;
}

body main form input::-ms-input-placeholder {
  color: #fff;
}

body main form input::placeholder {
  color: #fff;
}

body main form textarea {
  max-width: 40%;
  min-width: 10%;
  max-height: 20%;
  min-height: 10%;
  background: none;
  border: 1px solid rgba(185, 255, 238, 0.6);
  padding: 10px;
  outline-color: #436e63;
  color: #fff;
}

body main form textarea::-webkit-input-placeholder {
  color: #fff;
}

body main form textarea:-ms-input-placeholder {
  color: #fff;
}

body main form textarea::-ms-input-placeholder {
  color: #fff;
}

body main form textarea::placeholder {
  color: #fff;
}

body main form button {
  height: 8%;
  width: 16%;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  color: rgba(185, 255, 238, 0.6);
  outline: none;
  border: 2px solid rgba(185, 255, 238, 0.6);
  text-transform: uppercase;
}

body main form button:focus {
  border: 1px solid rgba(185, 255, 238, 0.6);
}
/*# sourceMappingURL=global.css.map */